{{define "content"}}
<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    {{template "header" "index"}}
      <div class="container">
        <div id="containerOtp"></div>
        <a href="/add" style="float: right; margin-top: 2rem" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        <div style="margin-top: 5rem">
          <p>Vous pouvez également recevoir votre code par SMS</p>
          <div class="input-field inline">
            <input id="phoneNumber" type="text" placeholder="+33XXXXXXXXX" value="{{.UserPhone}}">
           <label for="phoneNumber">Numéro de téléphone</label>
         </div>
        </div>
      </div>


     <script>
     function refreshContainerOtp() {
       $.ajax({
         type: 'GET',
         url: '/getOtp',
         dataType: 'html',
         timeout: 300,
         context: $('body'),
         success: function(data){
           $('#containerOtp').html(data)
         }
        })
      }
      refreshContainerOtp();
      setInterval(refreshContainerOtp, 1000);
     </script>
  </body>
</html>
{{end}}
