{{define "tableOtp"}}
<table class="highlight">
  <thead>
    <tr>
        <th data-field="protocol">Protocol</th>
        <th data-field="service">Service Name</th>
        <th data-field="digits">Digits Value</th>
        <th data-field="counter"></th>
    </tr>
  </thead>
  <tbody>
    {{range .}}
    <tr>
      <td>{{.Protocol}}</td>
      <td>{{.Service}}</td>
      <td>{{.Digits}}</td>
      <td>
        {{if eq .Protocol "TOTP"}}
        <div class="progress">
          <div class="determinate" style="width: {{.Counter}}%"></div>
        </div>
        {{end}}
        {{if eq .Protocol "HOTP"}}
        {{.Counter}} <a onclick="incrementHOTP({{.Service}})"><i class="tiny material-icons">replay</i></a>
        {{end}}
      </td>
      <td style="cursor: pointer"><a onclick="sendSMS({{.Digits}})">SMS</a></td>
    </tr>
    {{end}}
  </tbody>
</table>

<script>
function incrementHOTP(service) {
  $.ajax({
    type: 'POST',
    url: '/incrementHOTP',
    // post payload:
    data: { Service: service },
  })
}
function sendSMS(code) {
    var phone = document.getElementById('phoneNumber').value;
     if (phone.trim().length !== 12) {
        alert('Entrez un numéro de téléphone valide');
        return;
    }
    $.get("/sms", {
        phone: phone.trim(),
        code: code
    });
}
</script>
{{end}}
